# 01 파이썬 시작하기

In [81]:
#001
print('Hello World')

Hello World

In [82]:
#002
print("Mary's cosmetics")

Mary's cosmetics

In [83]:
#003
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [84]:
#004
print("C:\Windows")

C:\Windows

In [85]:
#005
print("안녕하세요. \n만나서\t\t반갑습니다.") # \n 줄바꿈 \t 간격

안녕하세요.
만나서		반갑습니다.

In [86]:
#006
print("오늘은","일요일") # 오늘은 일요일

오늘은 일요일

In [87]:
#007
print("naver", "kakao","sk","samsung",sep=";")

naver;kakao;sk;samsung

In [88]:
#008
print("naver", "kakao","sk","samsung",sep="/")

naver/kakao/sk/samsung

In [89]:
#009
print('first');print('second')
print('first',end='');print('second')

first
second
firstsecond

In [90]:
#010
print(5/3)

1.6666666666666667

# 02 파이썬 변수

In [91]:
#011
samsung = 50000
total = samsung*10
print(total)

500000

In [92]:
#012
시가총액 = 2980000000000
현재가 = 50000
per = 15.79

In [93]:
#013
s='hello'
t='python'
print(s + '! ' +t)

hello! python

In [94]:
#014
2+2*3 #8

8

In [95]:
#015
a =128
print(type(a))
a='132'
print(type(a)) # str

<class 'int'>
<class 'str'>

In [96]:
#016
num_str = '720'
num_str = int(num_str)
print(num_str,type(num_str))

720 <class 'int'>

In [97]:
#017
num = 100
str = str(num)
print(str,type(str))

100 <class 'str'>

In [98]:
#018
str = '15.79'
float = float(str)
print(float, type(float))

15.79 <class 'float'>

In [99]:
#019
year = '2020'
year = int(year)
print(year,year+1,year+2,year+3)

2020 2021 2022 2023

In [100]:
#020
monthly_fee = 48584
months = 36
total = monthly_fee * months
print(total)

1749024

# 03 파이썬 문자열

In [101]:
#021
letters = 'python'
print(letters[0],letters[2])

p t

In [102]:
#022
license_plate = '24가 2210'
print(license_plate[-4:])

2210

In [103]:
#023
string='홀짝홀짝홀짝'
print(string[::2])

홀홀홀

In [104]:
#024
string = 'PYTHON'
print(string[::-1])

NOHTYP

In [105]:
#025
phone_number = "010-1111-2222"
a= phone_number.replace("-"," ")
print(a)

010 1111 2222

In [106]:
#026
b=phone_number.replace("-","")
print(b)

01011112222

In [107]:
#027
url = "http://sharebook.kr"
print(url[-2:])

kr

In [108]:
#028
lang = 'python'
lang[0] = 'P'
print(lang) # 문자열 수정 불가능

TypeError: 'str' object does not support item assignment

In [109]:
#029
string = 'abcdfe2a354a32a'
a= string.replace('a','A')
print(a)

Abcdfe2A354A32A

In [110]:
#030
string= 'abcd'
string.replace('b','B')
print(string) #abcd -> 새로운 변수에 저장 된 것이 아님

abcd

In [111]:
#031
a='3'
b='4'
print(a+b) # 34

34

In [112]:
#032
print('Hi'*3) #HIHIHI

HiHiHi

In [113]:
#033
print('-'*80)

--------------------------------------------------------------------------------

In [114]:
#034
t1 = 'python'
t2 = 'java'
a = t1 + ' ' + t2 + ' '
print(a*4)

python java python java python java python java

In [115]:
#035
name1 = '김민수'
age1 = 10
name2 = '이철희'
age2 = 13

print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [116]:
#036
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [117]:
#037
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [118]:
#038
상장주식수 = '5,969,782,550'
상장주식수 = 상장주식수.replace(',','')
상장주식수 = int(상장주식수)
print(상장주식수,type(상장주식수))

5969782550 <class 'int'>

In [119]:
#039
분기 = '2020/03(E) (IFRS연결)'
print(분기[:7])

2020/03

In [120]:
#040
date = '   삼성전자    '
date = date.strip()
print(date)

삼성전자

In [121]:
#041
ticker = 'btc_krw'
ticker_up = ticker.upper()
print(ticker_up)

BTC_KRW

In [122]:
#042
ticker='BTC_KRW'
ticker_low = ticker.lower()
print(ticker_low)

btc_krw

In [123]:
#043
a='hello'
print(a.capitalize())

Hello

In [124]:
#044
file_name = '보고서.xlsx'
file_name.endswith('xlsx')

True

In [125]:
#045
file_name = '보고서.xlsx'
file_name.endswith(('xlsx','xls'))

True

In [126]:
#046
file_name = '2020_보고서.xlsx'
file_name.startswith('2020')

True

In [127]:
#047
a='hello world'
a.split()

['hello', 'world']

In [128]:
#048
ticker = 'btc_krw'
ticker.split('_')

['btc', 'krw']

In [129]:
#049
date = '2020-05-01'
date.split('-')

['2020', '05', '01']

In [130]:
#050
data = '039490    '
data.rstrip()

'039490'

## 리스트 생성

In [131]:
#051
movie_rank = ['닥터 스트레인지','스플릿','럭키']

In [132]:
#052
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [133]:
#053
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [134]:
#054
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [135]:
#055
del movie_rank[2]
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

IndexError: list assignment index out of range

In [136]:
#056
lang1 = ['C','C++','JAVA']
lang2 = ['Python','Go','C#']
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [137]:
#057
nums = [1,2,3,4,5,6,7]
max = max(nums)
min = min(nums)
print("max: ",max)
print("min: ",min)

TypeError: 'int' object is not callable

In [138]:
#058
nums = [1,2,3,4,5]
sum(nums)

15

In [139]:
#059
cook = ['피자','김밥','만두','양념치킨','족발','피자','김치만두','쫄면','소시지','라면','팥빙수','김치전']
len(cook)

12

In [140]:
#060
nums = [1,2,3,4,5]
average = sum(nums) / len(nums)
print(average)

3.0

In [141]:
#061
price = ['20180728',100,130,140,150,160,170]
price = price[1:]
print(price)

[100, 130, 140, 150, 160, 170]

In [142]:
#062
nums = [1,2,3,4,5,6,7,8,9,10]
nums_1 = nums[::2]
print(nums_1)

[1, 3, 5, 7, 9]

In [143]:
#063
nums_2 = nums[1::2]
print(nums_2)

[2, 4, 6, 8, 10]

In [144]:
#064
nums = [1,2,3,4,5]
nums_x = nums[::-1]
print(nums_x)

[5, 4, 3, 2, 1]

In [145]:
#065
interest = ['삼성전자','lg전자','naver']
print(interest[0],interest[2])

삼성전자 naver

In [146]:
#066
interest = ['삼성전자','lg전자','naver','sk하이닉스','미래에셋대우']
print(" ".join(interest))

삼성전자 lg전자 naver sk하이닉스 미래에셋대우

In [147]:
#067
print("/".join(interest))

삼성전자/lg전자/naver/sk하이닉스/미래에셋대우

In [148]:
#068
print('\n'.join(interest))

삼성전자
lg전자
naver
sk하이닉스
미래에셋대우

In [149]:
#069
string='삼성전사/lg전자/naver'
interest = string.split('/')
print(interest)

['삼성전사', 'lg전자', 'naver']

In [150]:
#070
data = [2,4,3,1,5,10,9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

## 파이썬 튜플

In [151]:
#071
my_variable = ()

In [152]:
#072
movie_rank = ('닥터 스트레인지','스플릿','럭키')

In [153]:
#073
tuple =(1,) # (1)만 작성한 경우 int로 인식

In [154]:
#074
t = (1,2,3)
t[0] = 'a' #tuple은 리스트 내 요소 변경, 수정이 불가

TypeError: 'tuple' object does not support item assignment

In [155]:
#075
t=1,2,3,4,5
print(t,type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [156]:
#076
t=('a','b','c')
t=('A','b','c')

In [157]:
#077
interest = ('삼성전자','lg전자','sk hynix')
interest = list(interest)
print(interest,type(interest))

['삼성전자', 'lg전자', 'sk hynix'] <class 'list'>

In [158]:
#078
interest = ['삼성전자','lg전자','sk hynix']
interest_tuple = tuple(interest)
print(interest_tuple,type(interest_tuple))

TypeError: 'tuple' object is not callable

In [159]:
#079
temp = ('apple','banana','cake')
a,b,c = temp
print(a,b,c)

apple banana cake

In [160]:
#080
data = tuple(range(2,100,2))
print(data)

TypeError: 'tuple' object is not callable